[data-theme="dark"] {
  --accent: #FD4D4D;
  --accent-hover: #FD6868;
  --pure-white: #fafafa;

  --gray-100: #DEE3EA;
  --gray-200: #B2BDCD;
  --gray-300: #5D7290;
  --gray-400: #4F617A;
  --gray-500: #404F64;
  --gray-600: #323D4D;
  --gray-700: #242C37;
  --gray-800: #151A21;
  --gray-900: #0B0E11;
}