@import "../../components/Global/styles";

body {
  &[data-theme = "light"] {
    .homeContainer {
      color: black;
      background: #fafa;
    }
  }
  &[data-theme = "dark"] {
    .homeContainer {
      background: black;
    }
  }
  &[data-theme = "rgb"] {
    .homeContainer {
      background: green;
    }
  }

  .homeContainer {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;

    align-items: center;

    transition: all 200ms;

    article {
      width: 100%;
      overflow: auto;

      padding: 1rem;

      display: flex;
      flex-wrap: wrap;

      align-items: center;
      justify-content: center;  

      background: $gray-900;

      section {
        margin: 1rem;
      }
    }
  }
}