@import "../../components/Global/styles";

body {
  &[data-theme = "light"] {
    .homeContainer {
      color: black;
      background: #fafa;
    }
  }
  &[data-theme = "dark"] {
    .homeContainer {
      background: black;
    }
  }
  &[data-theme = "rgb"] {
    .homeContainer {
      background: green;
    }
  }

  .homeContainer {
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-areas: 
      "head head head head head"
      "main main main main aside"
      "main main main main aside";

    transition: all 200ms;

    nav {
      grid-area: head;
    }

    article {
      grid-area: main;

      overflow: auto;

      padding: $spacing-3;

      display: grid;
      grid-template-columns: repeat(2, 1fr);

      row-gap: $spacing-2 * 2;

      background: $gray-900;

      section {
        margin-bottom: $xxl;
      }
    }

    aside {
      grid-area: aside;
      background: $gray-900;

      padding: $spacing-3;

      div {
        
        &:nth-child(even) {
          margin: $xxl 0;
        }
      }

      #user {
        width: 100%;

        display: flex;
        flex-direction: column;

        align-items: flex-start;
        justify-content: space-around;

        border-radius: $md;
        padding: $spacing-4;
        background: $gray-800;

        #profile {
          color: $gray-100;

          display: grid;
          grid-template-areas:
            "pic paragraph paragraph"
            "pic tiny      tiny"
          ;

          .profile-img {
            grid-area: pic;

            width: $spacing-2 * 2;
            height: $spacing-2 * 2;
            border-radius: 50%;
            position: relative;

            margin-right: $md;

            background: $gray-500;

            &::after {
              content: "";

              position: absolute;
              right: 0;
              bottom: 0;

              width: $spacing-5;
              height: $spacing-5;
              border-radius: $xl;

              background: $accent;
              border: 4px solid $gray-800;
            }
          }

          p {
            grid-area: paragraph;

            align-self: self-end;

            font-weight: bold;
            font-size: $small;
          }
          
          small {
            grid-area: tiny;

            color: $gray-300;
            font-size: $small;
          }
        }

        main {
          margin: $xxl 0;

          p {
            width: 40ch;
            color: $gray-300;

            font-size: $paragraph;
            font-weight: 500;
          }
        }

        footer {
          a {
            color: $accent;
            font-weight: bold;
            font-size: $paragraph;
            
            transition: all 200ms;
            
            &:hover {
              color: $accent-hover;
            }
          }
        } 
      }

      #ad {
        display: flex;
        
        border-radius: $md;
        background: $gray-800;

        header {
          background: $gray-100;

          width: $spacing-1 * 1.5;
          background: $gray-100;

          border-radius: $md 0 0 $md;
        }

        main {
          position: relative;

          display: flex;
          flex-direction: column;

          justify-content: flex-start;

          padding: $spacing-4;

          &::after {
            content: "AD";
            color: $gray-100;
            background: $gray-700;
            border-radius: $sm;
            margin: $sm;
            padding: $spacing-8 $lg;
            font-size: $small;
            font-weight: bold;

            position: absolute;
            right: -$spacing-4;
            top: $xl;
          }

          h4 {
            color: $gray-100;
            font-size: $paragraph;
          }

          small {
            color: $gray-300;
            font-size: $small;
            margin: $xxl 0;
          }
        
          a {
            text-decoration: underline;
            color: $accent;

            &:hover {
              color: $accent-hover;
            }
          }
        }
      }
    }
  }
}