@import "../Global/styles";

header#nav {
  width: 100%;
  padding: var(--spacing-4);
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    position: absolute;
    left: 0;
    transform: scale(1.5);
    filter: blur(1.8px);
  }
  
  h1 {
    text-align: center;
    font-size: var(--heading-3);
    font-weight: bold;
    font-family: sans-serif;
    color: var(--gray-100);
  } 

  nav {
    margin-top: var(--spacing-3);

    ul {
      list-style: none;
      
      display: flex;
      justify-content: space-around;
      
      width: 100%;

      border-radius: var(--md);
      background: var(--gray-800);
      
      li {
        width: 100%;
        transition: all 200ms;
        
        &:first-child {
          border-radius: var(--md) 0 0 var(--md);
        }
        
        &:last-child {
          border-radius: 0 var(--md) var(--md) 0;
        }

        a {
          width: 100%;
          padding: var(--md);
          font-weight: bold;

          display: flex;

          align-items: center;
          justify-content: center;

          border-radius: var(--md) 0 0 var(--md);
          
          &[data-active = "true"] {
            background: var(--gray-700);
          }
        }
        
        &:hover,
        &:focus,
        &:focus-within {
          background: var(--gray-700);
        }
      }

    }

  }
  button {
    display: flex;

    align-items: center;
    justify-content: center;

    position: absolute;
    right: var(--xxl);
    top: 0;

    font-size: var(--spacing-4);

    background: var(--gray-100);

    width: calc(var(--spacing-4) * 2);
    height: calc(var(--spacing-4) * 2);

    border-radius: 50%;
    transition: all 200ms;

    &:hover {
      cursor: pointer;
      filter: brightness(90%);
    }
  }

  .parallax {
    position: relative;
  }
}