header {
  width: 100%;
  padding: 1rem;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    position: absolute;
    left: 0;
    transform: scale(1.5);
    filter: blur(1.6px);
  }
  
  h1 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: sans-serif;
    color: #fafafa;
  } 

  nav {
    margin: var(--margin-md) 0;

    ul {
      list-style: none;
      
      display: flex;
      justify-content: space-around;
      
      width: 100%;

      border-radius: var(--border-md);
      background: rgb(94, 94, 94);
      
      li {
        width: 100%;
        transition: all 200ms;
        
        &:first-child {
          border-radius: var(--border-md) 0 0 var(--border-md);
        }
        
        &:last-child {
          border-radius: 0 var(--border-md) var(--border-md) 0;
        }

        a {
          width: 100%;
          padding: 0.4rem;

          display: flex;

          align-items: center;
          justify-content: center;

          border-radius: var(--border-md) 0 0 var(--border-md);
          
          &[data-active = "true"] {
            background: gray;
          }
        }
        
        &:hover,
        &:focus,
        &:focus-within {
          background: gray;
        }
      }

    }

  }
  button {
    display: flex;

    align-items: center;
    justify-content: center;

    position: absolute;
    right: 1rem;
    top: 0;

    background: #fafafa;

    width: 2rem;
    height: 2rem;

    border-radius: 50%;
    transition: all 200ms;

    &:hover {
      cursor: pointer;
      filter: brightness(90%);
    }
  }

  .parallax {
    position: relative;
  }


  &-content {
    padding: 1rem;
  }
}