.postContainer {
  max-width: 300px;

  display: flex;
  flex-direction: column;

  padding: 1.2rem 0.8rem;
  color: #fafafa;

  h1 {
    font-size: 0.9rem;
    font-weight: bold;
  }

  img {
    width: 100%;

    margin: var(--margin-sm) 0;
  }

  figcaption {
    span {
      background: gray;
      border-radius: var(--border-sm);
      margin: 0 0.2rem;
      padding: 0 0.6rem;
      font-size: 0.8rem;
      
      &:first-child {
        margin: 0 0.2rem 0 0;
      }
      
      &:last-child {
        margin: 0 0 0 0.2rem;
      }
    }
  }

  &:hover {
    cursor: pointer;
    filter: brightness(80%);
  }
}