@import "../Global/styles";

.postContainer {
  width: calc(var(--spacing-1) * 5);

  display: flex;
  flex-direction: column;

  color: var(--gray-100);

  border: 1px solid transparent;
  border-radius: var(--md);
  box-shadow: var(--shadow);
  overflow: hidden;
  background: var(--gray-800);
  transition: all 200ms;
  
  h1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-size: var(--heading-4);
    font-weight: bold;
    transition: all 200ms;
  }

  hr {
    width: 100%;
    border-top: 1px solid var(--gray-600);
    border-right: none;
    border-left: none;
    border-bottom: none;
    outline: none;
    transition: all 200ms;
  }

  .title, figure {
    padding: var(--spacing-4) var(--spacing-5);
    background: var(--gray-800);
  }

  img {
    width: 100%;
    margin: var(--xxl) 0 0 0;
  }

  figcaption {
    display: flex;
    flex-wrap: wrap;

    span {
      color: var(--gray-100);
      background: var(--gray-700);
      border-radius: var(--sm);
      margin: var(--sm);
      padding: var(--spacing-8) var(--lg);
      font-size: var(--small);
      font-weight: bold;
      transition: all 200ms;
      
      &:first-child {
        margin-right: var(--sm);
      }
      
      &:last-child {
        margin-left: var(--sm);
      }

      &:hover {
        background: var(--gray-600);
      }
    }
  }

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    border-color: var(--gray-300);

    h1 {
      color: var(--gray-300);
    }

    hr {
      border-color: var(--gray-300);
    }
  }
}