@import "../Global/styles";

.postContainer {
  width: $spacing-1 * 5;

  display: flex;
  flex-direction: column;

  color: $gray-100;

  border: 1px solid transparent;
  border-radius: $md;
  box-shadow: $shadow;
  overflow: hidden;
  background: $gray-800;
  transition: all 200ms;
  
  h1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-size: $heading-4;
    font-weight: bold;
    transition: all 200ms;
  }

  hr {
    width: 100%;
    border-top: 1px solid $gray-600;
    border-right: none;
    border-left: none;
    border-bottom: none;
    outline: none;
    transition: all 200ms;
  }

  .title, figure {
    padding: $spacing-4 $spacing-5;
    background: $gray-800;
  }

  img {
    width: 100%;
    border-radius: $md;
    margin: $sm 0;
  }

  figcaption {
    margin-top: $lg;

    span {
      color: $gray-100;
      background: $gray-700;
      border-radius: $sm;
      margin: 0 $sm;
      padding: $spacing-8 $lg;
      font-size: $small;
      font-weight: bold;
      transition: all 200ms;
      
      &:first-child {
        margin-right: $sm;
      }
      
      &:last-child {
        margin-left: $sm;
      }

      &:hover {
        background: $gray-600;
      }
    }
  }

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    border-color: $gray-300;

    h1 {
      color: $gray-300;
    }

    hr {
      border-color: $gray-300;
    }
  }
}